<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="63af0f5f-fb2f-489c-af06-851dd5115d22" Publisher="CN=Simon Blume" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="63af0f5f-fb2f-489c-af06-851dd5115d22" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DSA4PropablityCalcualtor</DisplayName>
    <PublisherDisplayName>Simon Blume</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DSA4PropablityCalcualtor.App">
      <uap:VisualElements DisplayName="DSA 4 Wahrscheinlichkeitsrechner" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Mit dieser App kann man für das Rollenspiel DSA 4 oder 4.1 sehen für welchen Talentwert es wie Wahrscheinlich ist, dass man die Probeschafft." BackgroundColor="#FFB900">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="DSA Calc">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>

      <Extensions>
        <uap:Extension Category="windows.appService"
          EntryPoint="DSA4PropoabilityCalcuator.Backgroundworker.VoiceCommandsService">
          <uap:AppService Name="VoiceCommandsService"/>
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch"/>
      </Extensions>
    </Application>
  </Applications>
</Package>